.studentList {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  position: relative;
  top: calc(50px + 6em);
  transform: translateY(-50%);
}

.reposition-list {
  position: absolute;
  top: 0;
}

.bar-style {
  position: absolute;
  top: calc(50px + 2em);
  --color: rgba(255, 255, 255, 0.5);
}

.excel-button {
  margin-left: 1em;
  margin-bottom: calc(1em);
  font-size: 1em;
  padding: 0.5em 1em;
}

.fines-button {
  background-color: transparent;
  color: #a0eea7;
  border: #82af86 1px solid;
  border-radius: 3px;
}
