.studentList {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  position: relative;
  top: calc(50px + 16em);
  transform: translateY(-50%);
}

.bar-style {
  position: relative;
  top: calc(50px + 2em);
  --color: rgba(255, 255, 255, 0.5);
}
