.custom-background {
  --background: #1c1b1f;
  --border: none;
}

.center-events {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

ion-fab-button {
  --background: #302d38;
  --background-activated: rgb(96, 85, 128, 0.8);
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: #d0bcff;
}

ion-toolbar {
  --background: transparent;
}

ion-refresher {
  position: relative;
  z-index: 1000;
}
